# Development and Diversity of Bangalore

City of Bangalore has developed very Rapidly over the last couple of decades  
which made it very diverse - but is the diversity evenly distributed across the city?  
or is the development has triggered certain changes which even though looking diverse - is not that diverse  

To set the business in Bangalore it's very much required to understand the diversity  
the business problem that we are going to look into with this study would be to understand the food preferences  
the assumptions being made is to look at the food preferences from the presence of that category of food outlets in the area  

### Business Problem
if you are setting up a new food outlet, the business problem for the new establishment to understand the diversity and what kind of food outlet should be opened   
in which part of the city, and understand the current food preferences of the area

## Maps of Bangalore showing Rapid Development

<img src=http://catalyst.nationalinterest.in/wp-content/uploads/2014/01/Bangalore-2005-06.jpg>

<img src=http://catalyst.nationalinterest.in/wp-content/uploads/2014/01/Bangalore-2011-12.jpg>

The two above maps are providng good amount of information on the growth of bangalore - which is primarily happening in South and South - East of Bangalore  
growth is also seen on other part of bangalore too

## Data Source

### Area Information
For Finding out areas of bangalore government of india's open dataset - https://data.gov.in/catalog/locality-based-pincode  
can be used to fetch the areas of Bangalore

### Location Information
Geopy doesn't provide for the location of the areas within bangalore
it provides for the location of bangalore itself but for all other areas it give the latitude longitude of bangalore itself
so Geopy is not good source of information there but can be used to fetch the coordinates of Bangalore

### Alternate source of Location information
 one of the dataset of bangalore at https://data.gov.in/catalog/locality-based-pincode
 provides of latitude and longitude information - it doesn't provide location information for rural areas of bangalore
 but for urban areas of bangalore it provides for good amount of information and especially for the two regions which have grown up recently it provide of the location information - so we will be using the data set for that

### About the dataset

you can use the temporary key to fetch the subset of information  
but if you want to have a full look at the full data you would need to login to the website  
a key is provided for each user which can be used to fetch the data from the API
the data can be fetched in xml/json/csv format
for our analysid we would be fetching the csv format data

### Processing and Analysis
form Foursquare we would be fetching the food outlets around in the postal code area. as we are not comparing the neighbourhood  
but looking at the food preferences we would be increaing our radius of search to 3000

## Methodology

Data is available for all cities of bangalore - we need to get only for Bangalore and filter the data to get only the postacl codes for which latitude  
longitude information is available

In [4]:
import pandas as pd
df = pd.read_csv("postal.csv")
df.head()

,Unnamed: 0,officename,pincode,officeType,Deliverystatus,divisionname,regionname,circlename,Taluk,Districtname,statename,Telephone,Related Suboffice,Related Headoffice,longitude,latitude
0,0,Achalapur B.O,504273,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Rechini S.O,Mancherial H.O,NaN,NaN
1,1,Ada B.O,504293,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Asifabad,Adilabad,TELANGANA,NaN,Asifabad S.O,Mancherial H.O,NaN,NaN
2,2,Adegaon B.O,504307,B.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Boath,Adilabad,TELANGANA,NaN,Echoda S.O,Adilabad H.O,NaN,NaN
3,3,Adilabad Collectorate S.O,504001,S.O,Non-Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226703,NaN,Adilabad H.O,NaN,NaN
4,4,Adilabad H.O,504001,H.O,Delivery,Adilabad,Hyderabad,Andhra Pradesh,Adilabad,Adilabad,TELANGANA,08732-226738,NaN,NaN,NaN,NaN

Once the data for Bangalore postal code is availble with the latitude and longitudes we need to fetch the food outlets around the area  
as we are looking for food prefrences we would be looking for data with wider radius for this case radius we are looking for is 3000
data can then be fetched from foursquare with query for "food". which is populated along with latitude and longitude of the area

In [6]:
df = pd.read_csv("ny_venues.csv")
df.head()

,Unnamed: 0,PostalCode,PostalCode Latitude,PostalCode Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,0,Arabic College S.O,13.0291,77.6206,Chulha Chauki da Dhabha,13.024896,77.631590,Indian Restaurant
1,1,Arabic College S.O,13.0291,77.6206,Adyar Ananda Bhavan,13.041035,77.624513,Vegetarian / Vegan Restaurant
2,2,Arabic College S.O,13.0291,77.6206,Momoz,13.015252,77.631068,Diner
3,3,Arabic College S.O,13.0291,77.6206,Tashan - Punjabi Restaurant,13.024162,77.632978,Indian Restaurant
4,4,Arabic College S.O,13.0291,77.6206,Thalassery Restaurant,13.015042,77.631679,Kerala Restaurant

Next step is to group the data by the Venue Category which then can be used to get the clustering using KMeans. As we are looking to understand the  
localities and diversity we would be looking at the various clusters - for this exercise from 2 - 5 to undersand the diferences between the areas and  
food preferences

Below is How the postal codes plotted on Bangalore map look like
<img src=bangalore_postal_codes.JPG>

## Results

we would be looking at the clustering results for clusters of 2 to 5

Cluster of 2 - the outskirt areas are clustered together and rest of the city as one cluster on Analysis it was found the outskirts areas doesn't have too many
outlets


<img src="Clusters_2.JPG">

Cluster of 3 and Cluster of 4 started showing a pattern with similarities between northern and eastern part of the city

<tr> <td> <img src="Clusters_3.JPG"> </td> <td> <img src="Clusters_4.JPG"> </td> </tr>

even though eastern and northern part of the city showed similarities but they have dissimilarities too. but was to be seen was southern part of the city showed a clear difference from rest of the city - below is cluster of 5

<img src="Clusters_5.JPG">

## Discussion
To understand what are those things which are making these cluster of the city different. had a look at the clusters more prominent food outlet categories

### South
south part of the city Indian and Chinese Restaurants are more prominent  
<img src="South.JPG">

East and Central Part of the City is also showing similar trend but it is different from south part of the city as there are prominently more number of Pubs  
<img src="EAST.JPG">

North part of city has shown quite a differnet trend where indian restaurant are more prominent but the things that distinguishes is the prominent presence of   
Vegetarian food  
<img src="North.JPG">

so looking at the above trends the recommendation for the Vegetarian Food Lovers is to look for restaurants in North  
but if you regular bar goer look for central and east of the city  
but for the Business Point of View  
if you are going to open Indian Vegeterian Restaurant or Chinese Restaurant - you can go and open in any part of the city  
if you are looking to open bar - look to go towards East  
for rest of the food outlet categories there is good amount of presence of nearly all food type but you might have to do some ground work

## Conclusion
Even though Bangalore being a diverse City, the food outlet presence across the city has given a clear preferences  
it was quite suprising to note that the clusters got formed by the geographical positions of the areas  
which probably is to do with not so even development of the city  
the EAST part of the city with prominent IT Industry area has shown a different preference for food  
and South and North with prominent Residential areas have shown a different prefereces  

the above might be because of the Development of the city happening where the old parts of the City are still traditional  
and new part of the city has got divided up as residential and business centers